.layout-herder {
  padding: 0 24px;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}
.layout-container {
  min-height: calc(100vh - 64px - 71px);
  .layout-spin {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.layout-footer {
  text-align: center;
  background: #001529;
}
