.header{
    background-color: #fff;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #e5e5e5;
}